*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

#nav{
    height: 90px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

}

#nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#nav2 h4{
    font-weight: 500;
    font-size: 15px;

}
#nav2 h4 span{
    color: rgb(139, 139, 141);
    margin-left: 15px ;
}

.gola{
    height: 22px;
    width: 22px;
    background-color: black;
    border-radius: 50%;
    
} 
#nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#lownav{
    width: 100%;
    height: 50px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 60px;
}

#lownav h3{
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}

#content{
    width: 100%;
    height: calc(100% - 140px);
    /* background-color: aquamarine; */

}

#text{
    width: 100%;
    height: 50%;
    /* background-color: wheat; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.elem{
    flex-shrink: 0;
    height: 100%;
    width: 70%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: center;

}

#h1{
    font-weight: 300;
    font-size: 120px;
}

#text::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}
#text::-webkit-scrollbar-thumb{
    background-color: orange;
}

#imgcontent{
    height: 50%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    background-color: #F4F4F4;

}
#imgcontent img{
    height: 100%;
    width: 700px;
    object-fit: cover;
}
